// Partner is admitedly not a great name, but need something to handle the case where Cable is a 'provider' in the tray,
// but contains numberous Provider logos as content
$order-card-partner-logo-width: 125px;
$order-card-partner-logo-height: 75px;
$order-card-partner-logo-margin:  5px;
$order-card-partner-logo-width-mobile: 95px;
$order-card-partner-logo-height-mobile: 57px;

.order-card__partner-logos {
  @include unstyled-ul;
  @include clearfix;
  padding: $size-l 0;
  display: none;
  
  @include from-order-tray-sidebar-visible-or-when-selected {
    display: block;
  }
}

.order-card__partner-logo {
  // box is 125x75 w/ 5px margin
  &,
  a,
  span {
    display: block;
    float: left;
  }
  
  a,
  span {
    @include hide-text;    
    margin-right:  $order-card-partner-logo-margin;
    margin-bottom: $order-card-partner-logo-margin;
    width:$order-card-partner-logo-width-mobile;
    height:$order-card-partner-logo-height-mobile;
    border:$colors-light-grey solid $size-border-width-m;
    border-radius: $size-border-radius;
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-right:  $order-card-partner-logo-margin;
    margin-bottom: $order-card-partner-logo-margin;
    
    @include from-order-tray-sidebar-visible {
      width:$order-card-partner-logo-width;
      height:$order-card-partner-logo-height;
    }
  }
  
  a:hover,
  a:active {
    border-color: $colors-dark-grey;
  }
}

// this map was deprecated with refactored implementation in TOOL-4103
// to make logos editable outside css layer/outside release,
// the image-path is now inlined in the js layer  

$logo-path:     "#{$assets-image-base-new}/order/tray/cable-logos-2x";
$logo-path-svg: "#{$icon-base-path}/provider-logos"; 

$order-card-partner-logos : (
  // "6"            :"#{$logo-path}/6.png",
  // "25"           :"#{$logo-path}/cox.png",
  // "26"           :"#{$logo-path}/directv.png",
  // "28"           :"#{$logo-path}/dish.png",
  // "122"          :"#{$logo-path}/frontier-communications.png",
  // "45"           :"#{$logo-path}/mediacom.png",
  // "18"           :"#{$logo-path}/optimum.png",
  // "61"           :"#{$logo-path}/suddenlink.png",
  // "66"           :"#{$logo-path}/verizon2.png",
  // "23"           :"#{$logo-path}/xfinity.png",
  // "120"          :"#{$logo-path}/spectrum2.png",
  "132"  :"#{$logo-path}/lg.svg",
  "106"  :"#{$logo-path}/samsung-smart-tv.svg"
);


@each $partner-key, $logo in $order-card-partner-logos {
  .order-card__partner-logo--#{$partner-key} {
    a, 
    span {
      background-image: url($logo);
    }
  }
}


