
.order-picker {
  
  &__provider-list {
    @include unstyled-ul;
    margin-bottom: $size-m;
    
    @include from-medium-tall {
      margin-bottom: $size-l;
    }
    
    .order-tray--two-col & {
      float:left;
      width:50%;
    }
  }
  

  &__control {
    display: block;
    @include header('epsilon');
    margin-bottom: 2px;
  
    @include at-medium-tall {
      margin-bottom: 4px;
    }
    
    @include from-medium-tall {
      margin-bottom: 6px
    }
  }

  &__control-group {
    clear:both;
    @include clearfix;
  }

  &__control--select-all,
  &__control--close {
    @include upcase;
    @include header('zeta');
    display: inline-block;
    cursor: pointer;
    padding-bottom: 0;
    float:left;
  }

  &__control--close {
    padding-right: 0;
    text-align: right;
    float: right;
    color: $colors-dark-red;
  }
  
  // SITE-17441	groups variation
  &__provider-group-button {
    display: block;
    margin-bottom: $size-s;
    padding: $size-m;
    width: 100%;
    background-color: transparent;
    border: $colors-pure-white solid 1px;
    @include header('epsilon');
    @include upcase;
    text-align: left;
    border-radius: $size-xs;
    
    &,
    &:focus {
      outline: none
    }
    
    &--selected {
      background-color: $colors-pure-white;
      color:$colors-dark-red
    }
    
  }
  
  &__provider-group__subcopy {
    @include header('zeta');
    display: block;
    padding: 0 $size-m $size-l $size-m;
  }
}
